{% extends 'base.html' %}
 
{% block title %}
  Ticket Details
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
  <div class="mb-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/account/tickets">My Tickets</a>
          </li>
        <li class="breadcrumb-item active" aria-current="page">Ticket Details</li>
      </ol>
    </nav>
  </div>

  <div class="container mt-5">
    <h2>Ticket Details</h2>
  </div>
{% endblock %}
