{% extends 'base.html' %}

{% block title %}
  My Tickets
{% endblock %}

{% block header %}
  <link rel="stylesheet" href="/static/css/tickets.css" />
  <script src="/static/js/account/tickets.js"></script>
  <script>
    var user_ticket_data = {{ user_ticket_data | tojson | safe }};
    
    document.addEventListener("DOMContentLoaded", function () {
      new TicketsView(user_ticket_data)
    });
  </script>
{% endblock %}

{% block content %}
  <div class="mb-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">My Tickets</li>
      </ol>
    </nav>
  </div>

  <div class="container mt-5">
    <h2>My Tickets</h2>
    <table class="table" id="ticketsTable"></table>
  </div>
{% endblock %}
