.details-content {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-top: 10px;
}

.details-content p {
  margin-bottom: 5px;
}

.event-row img {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.table-imgs {
  height: 180px;
  width: 180px;
}

th {
  cursor: pointer;
}

th img {
  max-height: 20px ;
  float: center;
  vertical-align: middle;
  content: url('/static/img/sort.png');
}

tbody tr {
  cursor: pointer;
}

.custom-modal-bg .modal-body {
  background-color: cornsilk; 
}
