{% extends 'base.html' %}

{% block title %}
  Event Details
{% endblock %}

{% block header %}
  <link rel="stylesheet" href="/static/css/event_details.css" />
  <script src="/static/js/events/event_details.js"></script>

  <script>
    var event_details_data = {{ event_details_data | tojson | safe }};

    document.addEventListener("DOMContentLoaded", function () {
      new EventDetailsView(event_details_data);
    });
  </script>
{% endblock %}

{% block content %}
  <div class="mb-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/events">Events</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Event Details</li>
      </ol>
    </nav>
  </div>

  <div class="event-container">
    <header class="event-header" id="event-header">
      <img id="event-image" src="" alt="Event Image" style="max-width: 100%; height: auto;" />
      <h1 id="event-name">Event Name</h1>
      <h2 id="artist-name">Artist Name</h2>
    </header>
    <div class="event-info">
      <h3>Event Details</h3>
      <p id="event-date">
        <strong>Date:</strong>
      </p>
      <p id="event-time">
        <strong>Time:</strong>
      </p>
      <p id="event-venue">
        <strong>Venue:</strong>
      </p>
      <p id="event-address">
        <strong>Address:</strong>
      </p>
      <p id="seats-available">
        <strong>Seats Available:</strong>
      </p>
    </div>
    <div class="venue-image">
      <h3 id="toggle-venue-image">Venue Image <i class="fas fa-chevron-down"></i></h3>
      <img id="venue-img" src="" alt="Venue Image" style="max-width: 100%; height: auto; display: none;" />
    </div>
    <div class="seat-info">
      <h3 id="toggle-seat-info">Seat Availability <i class="fas fa-chevron-down"></i></h3>
      <ul id="seat-list" style="display: none;"></ul>
    </div>
  </div>

  <div class="modal fade" id="seatDetailsModal" tabindex="-1" aria-labelledby="seatDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="seatDetailsModalLabel">Seat Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <p id="modal-seat-number"></p>
          <p id="modal-seat-section"></p>
          <p id="modal-seat-price"></p>
        </div>
        <div class="modal-body">
          <img id="modal-seat-image" src="" alt="Seat Section Image" style="width: 100%; height: auto;" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="addToCartBtn">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
