{% extends 'base.html' %}
{% set active = 'Events' %}

{% block title %}
  Events
{% endblock %}

{% block header %}
  <link rel="stylesheet" href="/static/css/events.css" />
  <script src="/static/js/events/events.js"></script>
{% endblock %}

{% block content %}

  <h1>Events</h1>
  <!-- <p>Search query: {{ search_criteria }}</p> -->
  <table id="maintable" class="table table-striped"></table>
  <script>
    $(() => {
      var search_events = '{{ search_events }}'
      const events = new Events()
      events.load(search_events)
    })
  </script>
  
{% endblock %}
