{% extends 'base.html' %} {% set active = 'About' %} 

{% block title %}
  About Us
{% endblock %} 

{% block header %}
<link rel="stylesheet" href="/static/css/about.css" />
{% endblock %}

{% block content %}
<div class="container-fluid px-0">
  <div class="mb-3 container-fluid navbar-decoration px-0 d-flex align-items-center justify-content-center">
    <h1 class="display-4">About Us</h1>
  </div>
  <div class="px-4">
    <h2 class="display-5">Who we are!</h1>
          <p>At <a href="www.drexel.org">Drexelville</a>, Rob, Zidane and Dheeraj, the music aficionados, joined forces with a common dream: 
          to make concert ticket booking effortless for fellow music enthusiasts and while they were at it, try getting good grades on their
          college project. 
          Faced with the frustration of navigating complex ticketing systems, they set out to create 
          <a href="/">Backstage Pass</a> - a user-friendly platform offering a seamless booking experience.
          
          They dedicated themselves to building Backstage Pass from the ground up. 
          Their hard work paid off, and soon, music lovers across Musicville embraced the platform for its simplicity and transparency.
          Today, <a href="/">Backstage Pass</a> stands as a testament to their commitment to the music community.
        </p>
        <img class="rounded text-sm-center float-md-left mb-sm-4 mb-md-0 mr-md-4" style="height:400px;width:auto;" src="/static/img/aboutus/our-team.png" alt="Second slide">
        <h2 class="display-6">Robert</h1>
        <p>Meet Robert, a dedicated project manager and tech-savvy founder from New Jersey. 
          Balancing studies and a full-time job, Robert brings technical expertise and leadership to our team. 
          His passion for excellence and relentless drive make him a vital asset in steering our projects to success.
        </p>
        <h2 class="display-6">Zidane</h1>
        <p>Zidane, a full-time student with a knack for crafting rich user interfaces. 
          With experience in research computer departments at top-tier companies, 
          Zidane brings invaluable expertise to our team. 
          His commitment to innovation and eye for detail elevate our projects to new heights.
        </p>  
        <h2 class="display-6">Dheeraj</h1>
        <p>Meet Dheeraj, an experienced software professional who currently works as a program manager and 
          is also pursuing further education. With a strong background in software development and technical expertise, 
          Dheeraj's leadership drives our projects forward, ensuring success at every turn.
        </p>
  </div>
  <div class="mt-md-4">
    <h2 class="display-5">Our Mission!</h2>
    <div>
      <p>
        At <a href="/">Backstage Pass</a>, we are driven by a passion for music and concerts, and a commitment 
        to providing unforgettable experiences to music enthusiasts worldwide. Our mission is simple yet powerful: 
        to connect fans with their favorite artists and create memories that last a lifetime. 
      </p>

      <p>We strive for excellence in everything we do. From offering a seamless ticket booking experience to 
        ensuring top-notch customer service, we are dedicated to exceeding your expectations at every turn. We believe in 
        supporting artists and empowering them to showcase their talent on a global stage. By providing a platform for both 
        emerging and established musicians, we aim to foster creativity and celebrate the diversity of musical expression.
      </p>  

      <p>Music has the incredible power to unite people from all walks of life. We are committed to fostering a 
        vibrant community of music lovers, where fans can connect, share their passion, and create lasting friendships.
      </p>

      <p>We are committed to making live music accessible to everyone. Whether you're a seasoned concert-goer 
        or attending your first show, we strive to create inclusive experiences that cater to diverse audiences.
      </p>

      <p>As stewards of the environment, we recognize our responsibility to minimize our ecological footprint. 
        We are dedicated to implementing sustainable practices and reducing waste in all aspects of our operations.
      </p>
      <p>
        Join us on our mission to celebrate the magic of music and create unforgettable moments together. Welcome to <a href="/">Backstage Pass</a> - where the love for music knows no bounds.
      </p>
    </div>
  </div>


</div>
{% endblock %}
